
<form class="form-signin" #loginForm="ngForm" (ngSubmit)="registrAuth(loginForm)">
  <div class="container-fluid">
    <h2 class="form-signin-heading">Registration</h2>
    <br />

    <label for="username" class="sr-only">firstname</label>
    <input type="email" id="firstname" name="firstname" ngModel class="form-control" placeholder="First Name" required>
    <br />

    <label for="username" class="sr-only">lastname</label>
    <input type="email" id="lastname" name="lastname" ngModel class="form-control" placeholder="Last Name" required>
    <br />

    <label for="username" class="sr-only">Email address</label>
    <input type="email" id="email" name="email" ngModel class="form-control" placeholder="Email" required>
    <br />
    <label for="username" class="sr-only">User Name</label>
    <input type="text" id="username" name="username" ngModel class="form-control" placeholder="User Name" required>
    <br />

    <label for="password" class="sr-only">Password</label>
    <input type="password" id="password" name="password" ngModel class="form-control" placeholder="Password" required>
    <br />

    <label for="username" class="sr-only">phonenumber</label>
    <input type="tel" id="phonenumber" name="phonenumber" ngModel class="form-control" placeholder="Phone" required>
    <br />

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
  </div>
</form>
