<h3>Login</h3>
<div>
  <div *ngIf="authService.invalidLogin" class="spacer">Invalid username or password.</div>
  <br />
  <div class="spacer">
    <label for="Email">Email</label>
    <input type="text" placeholder="Email" [(ngModel)]="email">
  </div>
  <div class="spacer">
    <label for="password">Password</label>
    <input type="password" placeholder="password" [(ngModel)]="password" class="form-control" />
  </div>
  <div class="spacer">
    <button type="submit" (click)="Login()">Login</button>
  </div>
</div>
